<header class="sectionTitle">
    <h1>You have been logged out!</h1>
</header>
<div class="container">
    <div class="card-content">
        <p class="content">
            You will be redirected to the homepage momentarily.<br>
            If this does not work, please navigate using the navigation menu above.
        </p>
    </div>
</div>

<script src="/js/logoutRedirect.js"></script>